
.parent-header{
    align-items: center;
}
.logo{
    flex-basis: 20%;
}
.logo img{
    width: 50px;
}
.menu{
    flex-basis: 80%;  
}
.menu ul{
    display: flex;
    justify-content: flex-end;
}
.menu ul li{
    flex-grow: 1;
    margin-left: -1px;
}
.menu ul li a{
    text-decoration: none;
    border: 1px solid rgb(28, 31, 207);
    color: rgb(255, 255, 255);
    display:block;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
    margin-left: 5px;
}
/* row 2 */
.parentDiv{
    display: flex;
    flex: 1;
}
.childDiv{
    padding: 10px;
}
/* row3 */
.parentDiv3{
    display: flex;
}
.childDiv3{
    padding: 15px;
    flex-basis: 66%;
}
.childDiv3:nth-child(2){
    flex-basis: 34%;
}
/* row4 */
.parentDiv4{
    display: flex;
}
.childDiv4{
    padding: 15px;
    flex: 1 0 0%;
}
.childDiv4:nth-child(2){
    flex-grow: 2;
}
/* center */
.parentCenter {
    height: 300px;
    box-shadow: 0px 0px 30px 15px rgb(180 195 172);
}
.childCenter img{
    box-shadow: 0px 0px 70px 30px rgb(233, 230, 230);
}